.fild {
    border: 3px solid rgb(146, 9, 9);

    width: 100%;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.pictures {
    font-size: 8px;
    border: 1px solid rgb(0, 0, 0);
    /* background: rgb(9, 98, 69); */
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 4px;
    box-shadow: inset -2px -1px 4px gold;

    text-align: right;
    user-select: none;

    background: url("") 0 0/contain no-repeat, rgb(9, 98, 69);
    cursor: pointer;
}

.flay {
    outline: 4px solid rgb(155, 13, 98);
}